@page "{jobId:int?}"
@model BackendAuthProj.Pages.Jobs.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div class="alert alert-danger">Are you sure you want to delete @Model.Job.Title ?</div>
<form method="POST">
    <button type="submit" class="btn btn-danger">Delete!</button>
    <a asp-page="./List" class="btn btn-default">Cancel!</a>
</form>