@page "{jobId:int?}"
@model BackendAuthProj.Pages.Jobs.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Job.Title</h1>

<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Job.Id" />
            <input type="hidden" asp-for="Job.IdUserDb" />
            <div class="form-group">
                <label asp-for="Job.Title"></label>
                <input asp-for="Job.Title" class="form-control" />
                <span asp-validation-for="Job.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Description"></label>
                <textarea asp-for="Job.Description" class="form-control" />
                <span asp-validation-for="Job.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Responsibilities"></label>
                <textarea asp-for="Job.Responsibilities" class="form-control" />
                <span asp-validation-for="Job.Responsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Qualification"></label>
                <textarea asp-for="Job.Qualification" class="form-control" />
                <span asp-validation-for="Job.Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.ApplicationProcedure"></label>
                <textarea asp-for="Job.ApplicationProcedure" class="form-control" />
                <span asp-validation-for="Job.ApplicationProcedure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.OpeningDate"></label>
                <input asp-for="Job.OpeningDate" class="form-control" />
                <span asp-validation-for="Job.OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.ApplicationDeadline"></label>
                <input asp-for="Job.ApplicationDeadline" class="form-control" />
                <span asp-validation-for="Job.ApplicationDeadline" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}